<html>

  <head>

    <style>
      .container { width: 800px; font-family: Arial, Helvetica, sans-serif; } span { margin: 10px 0; display:block; } h3
      { font-size: 1rem; }
    </style>
  </head>

  <body>

    <div class='container'>
      <img src='https://i.imgur.com/oUAKMC5.png' />
      <br />
      <span>Oi, {{name}}</span>
      <span>Você solicitou alteração de senha da sua conta em uRentCars.</span>
      <span>Para realizar a troca, basta clicar aqui: <a href={{link}}>Trocar Senha</a></span>
      <span>Caso não tenha sido você quem solicitou a alteração da senha, basta ignorar este e-mail.</span>
      <span>Obrigado!</span>
      <h3>Equipe | <strong>uRentCars</strong></h3>
    </div>

  </body>

</html>
